.projects {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e26d5c;
  height: 100vh;
  scroll-snap-align: start;
  /* content padding per component */
  padding: 0 10rem 0 10rem;
  position: relative;
}
.projects__header {
  margin-top: 5rem;
}

.header__underline {
  width: 100%;
  border-bottom: 0.1rem solid white;
  width: 100%;
  margin-bottom: 1rem;
}

.carousel__container {
  height: 54rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downbtn {
  margin-top: 1rem;
  color: white;
  --fa-animation-duration: 4.5s;
}

@media only screen and (max-width: 1150px) {
  .downbtn {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .downbtn {
    margin-top: 4.5rem;
  }

  .projects h2 {
    font-size: 3rem;
  }

  .carousel__container {
    width: 40rem;
    height: 50rem;
  }
}

@media only screen and (max-width: 417px) {
  .downbtn {
    display: none;
  }
}
