.projectscard {
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow: hidden;
  background-color: rgba(57, 62, 65, 0.8);
  text-align: center;
  padding: 1.5rem;
}

.projectscard__image {
  border: 0.1rem solid white;
  width: 30%;
  height: 25%;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 1rem 0 0.5rem 0;
}

.projectscard__text {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  font-size: 1.4rem;
  width: 40rem;
}

.projectscard__text p:nth-of-type(2) {
  margin-top: 2rem;
}

.projectscard__text__bottom {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 1rem;
  margin-top: 0.5rem;

  text-align: justify;
  width: 50rem;
}

.solluna {
  color: rgb(186, 161, 204);
}
.dailyfeed {
  color: #c83e4d;
}

.dicegame {
  color: #05bcff;
}

.notes {
  color: #99e1d9;
}

.scrolldown__projects {
  color: white;
  --fa-animation-duration: 4.5s;
}

@media only screen and (max-width: 1150px) {
  .projectscard {
    height: 50rem;
  }

  .projectscard__text__bottom {
    margin-top: 0rem;
  }

  .projectscard__image {
    width: 30rem;
    height: 80%;
    margin: 0.5rem 0 0.5rem 0;
  }
}

@media only screen and (max-width: 800px) {
  .projectscard__text,
  .projectscard__text__bottom {
    padding: 1rem;
    width: 30rem;
  }

  .projectscard__image {
    width: 24.5rem;
    height: 70%;
    margin: 0.5rem 0 0.5rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .projectscard {
    width: 40rem;
    height: 50rem;
  }
  .projectscard__text p,
  .projectscard__text__bottom p {
    text-align: center;
    font-size: 1.25rem;
  }

  .projectscard__text__bottom {
    margin-bottom: 0;
  }

  .language__skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

@media only screen and (max-width: 417px) {
  .projectscard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .projectscard__image {
    border: 0.1rem solid white;
    width: 90%;
    height: 50%;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 1rem 0 0 0;
  }

  .projectscard__text {
    margin-top: -4.5rem;
    padding: 0;
  }
}
