.projectscard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: rgba(57, 62, 65, 0.8);

  text-align: center;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
}

.projectscard__image {
  max-width: 35%;
  max-height: 45%;
  object-fit: cover;
  object-position: 50% 50%;
  margin: 1rem 0 2rem 0;
}

.projectscard__text {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  font-size: 1.55rem;

  width: 50rem;
}

.projectscard__text p:nth-of-type(2) {
  margin-top: 2rem;
}

.projectscard__text__bottom {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 1rem;
  margin-top: 1rem;

  text-align: justify;
  width: 50rem;
}

.solluna {
  color: rgb(186, 161, 204);
}
.dailyfeed {
  color: #c83e4d;
}

.dicegame {
  color: #05bcff;
}

.notes {
  color: #99e1d9;
}

.scrolldown__projects {
  margin-top: 5rem;

  color: white;
  --fa-animation-duration: 4.5s;
}

@media only screen and (max-width: 1150px) {
  .projectscard {
    height: 50rem;
  }
}

@media only screen and (max-width: 800px) {
  .projectscard__text,
  .projectscard__text__bottom {
    padding: 1rem;

    width: 30rem;
  }
}

@media only screen and (max-width: 500px) {
  .projectscard {
    width: 40rem;
    height: 50rem;
  }
  .projectscard__text p,
  .projectscard__text__bottom p {
    font-size: 1.25rem;
    height: 100%;
  }

  .projectscard__text__bottom {
    margin-bottom: 0;
  }

  .language__skills {
    margin: 0;
  }
}

/*
@media only screen and (max-width: 600px) {
  .projectscard {
    width: 15rem;
    height: 20rem;
    line-height: 1;
  }

  .articles_card p,
  h3,
  img {
    font-size: 1.1rem;
  }
}
*/
