.projects {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e26d5c;
  height: 100vh;
  scroll-snap-align: start;

  /* content padding per component */
  padding: 0 10rem 0 10rem;

  position: relative;
}

.header__underline {
  width: 100%;
  border-bottom: 0.1rem solid white;
  width: 100%;
  margin-bottom: 1rem;
}

.carousel__container {
  height: 54rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downbtn {
  margin-top: 1.5rem;

  color: white;
  --fa-animation-duration: 4.5s;
}
