.projects {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #393e41;
  height: 100vh;
  scroll-snap-align: start;

  /* content padding per component */
  padding: 0 10rem 0 10rem;

  position: relative;
}

.header__underline {
  width: 100%;
  border-bottom: 0.1rem solid white;
  width: 100%;
}

.carousel__container {
  height: 55rem;
  width: 100%;
}
