.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #3a4cbb; /*#3f88c5 */
  height: 100vh;
  scroll-snap-align: start;
  color: #f6f7eb;

  /* content padding per component */
  padding: 0 10rem 0 10rem;
}

.about__content {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.about__bio__img {
  border: 0.4rem solid #fdfffc;
  border-radius: 10%;
}

.highlight {
  font-size: 2.5rem;
  color: #f4e409;
  font-weight: bold;
}

.left,
.right {
  margin: 5rem;
}

.btn__container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.resume__btn {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(246, 247, 235, 0.25);
  border-radius: 1rem;
  margin-right: 10rem;
  width: 15rem;
  height: 5rem;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
  background-color: white;
  color: black;
}

a {
  padding: 1rem;
  margin-right: 3rem;
}

.icon {
  background-color: white;
  border: 1rem solid white;
  border-radius: 1rem;
  height: 4rem;
  margin-top: 1rem;
}

.icon:hover,
.icon:active {
  color: white;

  height: 4.1rem;
}

.resume__btn:hover,
.resume__btn:active {
  background-color: #f4e409;
  color: white;
  font-weight: bold;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}

.resume__btn a {
  margin: 0 auto;
}

.scrolldown {
  margin-top: 7rem;
  color: white;
  --fa-animation-duration: 4.5s;
}

@media only screen and (max-width: 950px) {
  .about__content {
    margin-top: 15rem;
  }
  .about__bio__img {
    height: 30rem;
    width: 30rem;
  }

  .left,
  .right {
    margin: 2rem;
  }

  .scrolldown {
    margin-top: 15rem;
  }
}

@media only screen and (max-width: 800px) {
  .about__content {
    display: flex;
    flex-direction: column;
  }

  .right {
    text-align: center;
  }

  .btn__container {
    display: flex;
    justify-content: center;
  }

  .about__bio__img {
    margin-top: 2rem;
    height: 20rem;

    width: 100%;
  }

  .highlight {
    font-size: 2rem;
  }

  .scrolldown {
    margin-top: -1rem;
  }
}

@media only screen and (max-width: 500px) {
  .about__bio__img {
    margin-top: 1rem;
    height: 16rem;
    width: 100%;
  }

  .right {
    width: 30rem;
  }

  .resume__btn {
    margin-right: 2.5rem;
  }

  a {
    padding: 1rem;
    margin-right: 0rem;
  }

  .btn__container {
    margin-top: 0.5rem;
  }

  .hightlight {
    font-size: 1.5rem;
  }

  .scrolldown {
    position: relative;
    left: 2rem;
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 420px) {
  .about__content {
    margin-top: 40%;
  }

  .about__bio__img {
    margin-top: 1.5rem;
    height: 18rem;
    width: 100%;
    height: 100%;
  }

  .scrolldown {
    position: relative;
    left: 2rem;
    margin-top: 100%;
  }
}
