.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  background-color: #21366d;
  height: 100vh;
  scroll-snap-align: start;

  /* content padding per component */
  padding: 0 10rem 0 10rem;
}

.header__underline {
  width: 100%;
  border-bottom: 0.1rem solid white;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

form input {
  margin: 1rem;
  padding: 1rem;

  width: 40rem;
}

textarea {
  height: 20rem;
  width: 40rem;
  padding: 1rem;
  resize: none;
}

.form__button {
  margin-top: 1.5rem;

  width: 40rem;
  height: 5rem;
}

.form__button:hover,
.form__button:active {
  background-color: #f4e409;
  color: white;
  font-weight: bold;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}

form input,
textarea,
button {
  border-radius: 1.2rem;
}

@media only screen and (max-width: 500px) {
  .contact__header {
    font-size: 3rem;
  }
  form input {
    width: 150%;
  }

  textarea {
    height: 20rem;
    width: 150%;
  }

  .form__button {
    margin-top: 1.5rem;
    width: 150%;
    height: 5rem;
  }

  .form__button:hover,
  .form__button:active {
    background-color: #ffb627;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
  }
}

@media only screen and (max-width: 417px) {
  .form__button {
    color: inherit;
  }
}
