.header {
  display: flex;

  position: fixed;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #393e41;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  color: white;
  padding: 4rem;

  z-index: 999;
}

.header__logo__container {
  height: inherit;
  width: 10rem;
}
.logo {
  height: 100%;
  width: 100%;

  border-radius: 1rem;
}

.highlight {
  font-size: 2.2rem;

  padding-left: 2.5rem;
  position: relative;
  bottom: 0.25rem;
}

.header ul {
  display: flex;
  list-style: none;
  color: white;
}

.header li {
  width: 100%;
  padding: 0.5rem;
}

.header a:hover,
.header a.active {
  color: #e3dfff;
  padding-bottom: 1rem;
  border-bottom: 0.25rem solid #3a4cbb;
}

@media only screen and (max-width: 950px) {
  h1 {
    font-size: 1.9rem;
  }

  .header__logo__container {
    height: inherit;
    width: 10rem;
  }

  .highlight {
    font-size: 1.45rem;
    position: relative;
    bottom: 0rem;
  }
  .header ul {
    display: flex;
    margin-top: 0.8rem;
    text-align: center;
  }
  .header li {
    font-size: 1.5rem;
    padding: 0.2rem;
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .header__logo__container {
    height: inherit;
    width: 5rem;
  }
  h1 {
    display: block;
    text-align: center;
    font-size: 2rem;
  }
  .header ul {
    display: flex;
    margin-top: 0.8rem;

    text-align: center;
  }
  .header li {
    font-size: 1rem;
    padding: 0.25rem 2.7rem 0.25rem 2.7rem;
    margin: 0;
  }

  .header a:hover,
  .header a.active {
    color: #e3dfff;
    padding-bottom: 0.25rem;
    border-bottom: 0.1rem solid white;
  }
}

@media only screen and (max-width: 417px) {
  .header__logo__container {
    height: 5rem;
    width: 5rem;
  }
}
