.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;

  background-color: #3f88c5;
  height: 100vh;
  scroll-snap-align: start;
  color: white;

  /* content padding per component */
  padding: 0 10rem 0 10rem;
}

.header__underline {
  width: 100%;
  border-bottom: 0.1rem solid white;
  width: 100%;
}

.skills__header {
  display: flex;
}

.skills__icon {
  height: 5rem;
  width: auto;
  margin: 0 2.2rem -1rem 2.2rem;
}

@media only screen and (max-width: 500px) {
  .skills__header {
    display: flex;
    flex-direction: column;
  }
}
