.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  background-color: #3f88c5;
  height: 100vh;
  scroll-snap-align: start;
  color: white;

  /* content padding per component */
  padding: 0 10rem 0 10rem;
}

.header__underline {
  width: 100%;
  border-bottom: 0.1rem solid white;
  width: 100%;
}

.skills__container,
.education__container {
  margin-top: 6rem;
}

.education__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__header {
  display: flex;
  justify-content: center;
}

.skills__icon {
  height: 5rem;
  width: auto;
  margin: 0 2.4rem -1rem 2.2rem;
}

.scrolldown__skills {
  margin-top: 4rem;
  position: relative;
  top: 5rem;

  color: white;
  --fa-animation-duration: 4.5s;
}

@media only screen and (max-width: 1250px) {
  .skills__icon {
    margin: 2rem;
  }

  .skills h5 {
    font-size: 1.5rem;
  }

  .skills__container,
  .education__container {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .skills__icon {
    height: 3.5rem;
    margin: 1.5rem;
  }
  .education__container {
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .skills__header {
    display: flex;
    flex-direction: column;
  }

  .skills h2 {
    margin-top: 3rem;
    font-size: 2rem;
  }

  .skills h5 {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 420px) {
  .skills__header {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .skills__icon {
    height: 3rem;
    margin: 0.25rem;
  }

  .scrolldown__skills {
    display: none;
  }
}
