.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  background-color: #3a4cbb;
  height: 100vh;
  scroll-snap-align: start;
  color: white;

  /* content padding per component */
  padding: 0 10rem 0 10rem;
}

.header__underline {
  width: 100%;
  border-bottom: 0.1rem solid white;
  width: 100%;
}

.skills__container,
.education__container {
  margin-top: 6rem;
}

.skills__container__list {
  display: flex;
}

.skills__container__list div li {
  text-align: left;
}

.skills__container__list li {
  list-style-type: none;
  padding: 1rem 8rem 1rem 8rem;
}

.skills__container__list li:before {
  content: "o";
  color: #f4e409;
}

.education__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education__container a:hover {
  color: #f4e409;
}

.skills__header {
  display: flex;
  justify-content: center;
}

.scrolldown__skills {
  margin-top: 2rem;
  position: relative;
  top: 3.2rem;

  color: white;
  --fa-animation-duration: 4.5s;
}

@media only screen and (max-width: 1250px) {
  .skills__container__list li {
    list-style-type: none;
    padding: 1rem 4rem 1rem 4rem;
  }
  .skills h5 {
    font-size: 1.5rem;
  }

  .skills__container,
  .education__container {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 880px) {
  .education__container {
    text-align: center;
  }

  .skills__container__list li {
    align-self: flex-start;
    list-style-type: none;
    padding: 1rem 2rem 1rem 2rem;
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 650px) {
  .skills h2 {
    font-size: 3.5rem;
  }
  .skills__container__list li {
    padding: 2rem 2rem 2rem 2rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 500px) {
  .skills__header {
    display: flex;
    flex-direction: column;
  }

  .skills h2 {
    margin-top: 3rem;
    font-size: 3rem;
    width: 100%;
    text-align: center;
  }

  .skills h5 {
    margin-top: 1.5rem;
    font-size: 1rem;
  }

  .skills__container__list {
    display: block;
  }

  .skills__container__list li {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .education__container {
  }
}

@media only screen and (max-width: 420px) {
  .skills__header {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .scrolldown__skills {
    display: none;
  }
}
